@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
 

.input{
    width: 890px;
    height: 125px;
    font-size: 45px;
    border: 5px solid #2E4D46;
    border-radius: 12px;
    padding: 25px;
}

.calc-btn {
    border: 5px solid #2E4D46;
    border-radius: 12px;
    width: 160px;
    height: 100px;
    margin: 8px;
    background-color: #26403B;
    color: #FDF2EC;
    font-size: 45px;
}

.calc-btn:hover {
    background-color: #457367;
}
